/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #141414;
  height: 60px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px;
}

.navbar_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.logo p {
}

.navbar_button:hover {
  background-color: #282727;

  opacity: 1;
  background-image: linear-gradient(
      #1e1e1e 1.2000000000000002px,
      transparent 1.2000000000000002px
    ),
    linear-gradient(
      to right,
      #1e1e1e 1.2000000000000002px,
      #1a1a1a 1.2000000000000002px
    );
  background-size: 24px 24px;
}

.background_container {
  background-color: #141414;
}

/* Main container */
.main_container {
  width: 100%;

  min-height: 90vh;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
  color: #fff;
}

.sent_mail {
  color: #1a1a1a;
  background-color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0.3rem;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  width: 15rem;
}

.sent_mail:hover {
  background-color: #e2e4e4;
}

.subject_row {
  display: block;
}

/* Top header */
.top_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* Creds */
.creds {
  display: flex;
  flex-direction: row;
}

/* Input fields */
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  box-sizing: border-box;
  padding: 16px;
  border-radius: 4px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  background-color: #1a1a1a;
  color: #fff;
  margin-right: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
  outline: none;
}

.attachments {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #282727;
  border-radius: 5px;
}

span {
  color: #fff;
  margin-left: 10px;
}

.attachments input[type="file"] {
  display: none;
}

.attachments label {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #282727;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.attachments label:hover {
  background-color: #ddd;
}

.attachments label:active {
  transform: translateY(1px);
}

.attachments input[type="file"]:focus + label {
  outline: 1px dotted #282727;
}

.attachments input[type="file"]:valid + label {
  background-color: #2e2e2e;
  color: #fff;
  border-color: #2e2e2e;
}

.attachments input[type="file"]:valid + label:hover {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
}
/* Submit button */
button[type="submit"] {
  background-color: #00bfff;
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button[type="submit"]:hover {
  background-color: #008080;
}

.mail_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 246px);
}

.attachment_label {
  margin-right: 1rem;
}

.mail_content {
  flex: 1;
  font-size: 16px;
  padding: 16px;
  resize: none;
  background-color: #1a1a1a;
  color: white;
  border: none;
  outline: none;
  margin-bottom: 16px;
}
