* {
  margin: 0;
  padding: 0;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.first_view_container {
  background-color: #edf5fb;
}

.first_view {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;

  margin: auto;
  max-width: 1200px;
}

.fv_texts {
  text-align: center;
  display: block;
  margin: auto;
}

.pre_header {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: #3176d1;
  text-transform: capitalize;
  font-weight: 300;
}

.fv_image {
  width: 20rem;
}

.fv_heading {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #3176d1;
}

.fv_tagline {
  font-family: "Poppins", sans-serif;
  font-size: 1.15rem;
  font-weight: 300;
  width: 80%;
  margin: auto;
}

.view_code {
  background-color: #3176d1;
  border: none;
  padding: 0.75rem 1.45rem;
  color: white;
  border-radius: 5px;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .fv_texts {
    text-align: left;
    max-width: 35rem;
    margin: 0;
  }

  .fv_image {
    width: 30rem;
  }

  .fv_heading {
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    line-height: 3rem;
    color: #3176d1;
  }

  .fv_tagline {
    margin: 0;
  }
}

/* Second View Container */

.second_view {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  margin: 3rem auto;
}

.box_container {
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  margin: 1rem;
  text-align: left;
}

.b_heading {
  font-family: "Popins", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #3176d1;
}

.b_tagline {
  font-family: "Poppins", sans-serif;
  font-style: 1.15rem;
}

/* Third View Container */

.form_view_container {
  background-color: #edf5fb;
}

.form_view {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;

  max-width: 1100px;
  margin: auto;
}

.crow {
  width: 100%;
  margin-right: 0.5rem;
}

.row {
  margin-right: 0.5rem;
}

.form_label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.form_field,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 20rem;
}

.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  width: 100%;
}

textarea {
  min-height: 10rem;
  width: 100%;
}

/* input[type="file"] {
  display: none;
} */

.submit_button {
  background-color: #3176d1;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.submit_button:hover {
  background-color: #077b6f;
  cursor: pointer;
}

.submit_button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3176d1;
}

.fov_texts{
  margin-bottom: 2rem;
}

.fov_heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  color: #3176d1;
  font-weight: 500;
}

.fov_tagline {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  max-width: 30rem;
  color: #404040;
}
