* {
  margin: 0;
  padding: 0;
}

.main_container {
}

.first_view_container {
  background-color: #f6e1c3;
}

.first_view {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.fv_texts {
  max-width: 50vh;
}

.fv_heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.25rem;
  font-weight: 600;
  color: #a84448;
}

.fv_tagline {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 1.05rem;
}

.fv_image {
  width: 20rem;
}

.second_view_container{
    background-color: #fff;
}

.second_view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.box_container {
  max-width: 20rem;
  margin: 2rem;
}

.b_heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a84448;
}
.iconColor {
  color: #a84448;
}

.b_tagline {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.form_view_container {
  background-color: #f6e1c3;
  padding: 2rem;
}
